@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@500;700&display=swap');

h1 {
	font-family: Zilla Slab, sans-serif; background-color: rgb( 143, 67, 70);
} /*incase the computer doesn't have the correct font or Internet to grab the fonts, it tells computer to grab prest sans-serif font */

h2 {
	font-family: Zilla Slab, sans-serif; background-color: #e89517;
}

p {
	font-family: Zilla Slab, sans-serif;
}

body {
	background-color: rgb( 67, 143, 70);
}

p 001 {

	
}